{% extends 'base.html' %}
{% load static %}

{% block body %}
    <form method="post">
        <div class="row">
            <div class="col">
                {% csrf_token %}
                {{ form.first_name }}<br>
                {{ form.last_name }}<br>
                {{ form.username }}<br>
                {{ form.email }}<br>
                {{ form.password1 }}<br>
                {{ form.password2 }}<br>
                <button type="submit" class="btn btn-primary">Sign Up</button>
                <a href="{% url 'qiuz' %}" class="btn btn-primary">Home</a>
            </div>
        </div>
    </form>
{% endblock %}